
.idea/

server/node_modules/
client/node_modules/

server/dist/


ai_python/src/stratego_engine.so
game-stratego
analyzes
ai_python/test/__pycache__
ai_python/src/__pycache__
__pycache__

client/.eslintcache
