.container {
  margin: auto;
  padding: 10% 20%;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
}

button, button>Link{
  margin: 30px;
  color: darkblue;
}

a{
  color: darkblue;
}
