
.case {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  display: inline-block;
  width: 80px;
  height: 80px;
}


.line {
  width: 1000px;
}

.board {
margin-right: 50px!important;
}
